{% extends "base.html" %}
{% load mathfilters %}

{% block content %}
<div class="page-header min-height-400" style="background-image: url('{{ ASSETS_ROOT }}/img/city-profile.jpg');" loading="lazy">
  <span class="mask bg-gradient-primary opacity-3"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          <h1 class="text-white pt-3 mt-n5">{{ flight.name }}</h1>
        </div>
      </div>
    </div>
</div>

<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
  <section class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="card card-plain">
            <div class="card-body px-0">
              <h5>
                <p class="text-dark font-weight-bold">Departure time: {{ flight.departure_time|date:"H:i" }}</p>
                <p class="text-dark font-weight-bold">Arrival time: {{ flight.arrival_time|date:"H:i" }}</p>
                <p class="text-dark font-weight-bold">Travel time: {{ flight.arrival_time|sub:flight.departure_time }}</p>
                <p class="text-dark font-weight-bold">Price {{ flight.cost }} ₴</p>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-end ms-auto">
          <a href="{% url 'app:order-creation' pk=flight.pk %}" class="btn bg-gradient-primary mb-0">buy a ticket</a>
        </div>
      </div>
    </div>
  </section>
</div>

{% include 'includes/scripts.html' %}

{% endblock content %}
